@tailwind base;
@tailwind components;
@tailwind utilities;

/*Globals*/

html {
    scrollbar-gutter: stable;
}

body {
    @apply w-3/5 items-center mx-auto;
}

h1 {
    @apply font-semibold text-2xl pb-2
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: Gainsboro;
}
